@charset "UTF-8";

#employees {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  background-color: #ddd;
  width: 80%;
}

#employees td, #employees th {
  border: 1px solid #ddd;
  padding: 8px;
}
#employees tr:nth-child(even){
	background-color: #f2f2f2;
	}
#employees tr:hover {
	background-color: #ffffff;
	}

#employees th {
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  background-color: #000000;
  color: white;
}







